* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: rgb(12, 11, 22);
}

canvas{
    width: 100%;
    height: 100%;
}

#container{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}